<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%=title%></title>
  <link rel="stylesheet" href="../css/shop.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet" />
</head>

<body>
    <%-include("../partials/header")%>

  <main>
    <!--FALTA COLOCAR LAS CLASES Y LOS ID -->
    <section class="buscar">
      <form action="">
        <ul>
          <li>
            <h2 class="buscar_title">BUSCAR</h2>
            <label for="item"></label>
            <input type="text" name="item" placeholder="item o categoria" class="check_order" />
          </li>

          <li>
            <h2 class="buscar_title">ORDERNAR POR</h2>
            <label for="ordenar"></label>
            <select name="ordenar" id="ordenar" class="check_order">
            <option value="3" enabled selected >Relevancia</option>
            <option value="1" enable selected >Mayor a Menor</option>
            <option value="2" enabled selected >Menor a Mayor</option>
            
          </select>
          </li>

          <li>
            <h2 class="buscar_title">PRECIO</h2>
            <label for="min" class="min_max">MIN</label>
            <input type="number" name="min" class="buscar_price" />

            <label for="max" class="min_max">  - MAX</label>
            <input type="number" name="max" class="buscar_price" />
          </li>
          <ul>
          <li>
            <h2 class="buscar_title">FILTRAR</h2>
            <li class="buscar_item">
                <input type="checkbox" name="nuevo" />
            <label for="nuevo" class="check_letter">NUEVOS</label>
            
        </li>
        <li class="buscar_item">
            <input type="checkbox" name="ofertas"  />
            <label for="ofertas" class="check_letter">OFERTAS</label>
            
        </li>

            <li class="buscar_item">
           <input type="checkbox" name="edicion"  />    
            <label for="edicion" class="check_letter">EDICIÓN ESPECIAL</label>
            
        </li>
        <li class="buscar_item">
            <input type="checkbox" name="favoritos"  />
            <label for="favoritos" class="check_letter">FAVORITOS</label>
            
        </li>
        </ul>
          </li>
        </ul>
      </form>
    </section>

    <!--ESTA BIEN HACE UNA LISTA GRANDE O SERIA MEJOR SEPARARLOS POR CADA 3 PRODUCTOS???-->

    <section class="articulos">
      <ul class="slider__items">
        <% productos.forEach(producto => { %>
        <li class="slider__item">
          <article class="card-item">
            <a href="shop/item/<%= producto.product_id %>" class="card-item__link">
              <picture class="card-item__cover">
                <p class="new">NUEVO</p>
                <img src=".<%= producto.img_front %>" alt="IMAGEN1" class="card-item__img--front">
                <img src=".<%= producto.img_back %>" alt="imagen-troper-box" class="card-item__img--back">
              </picture>

              <div class="card-item__content">
                <p class="card-item__licence"><%= producto.licence_name %></p>
                <h4 class="card-item__name"><%= producto.product_name %></h4>
                <p class="card-item__price">$ <%= producto.product_price %>.-</p>
                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
              </div>
            </a>
          </article>
        </li>


        <% }); %>
      </ul>
    </section>

    <!-- FALTA SABER COMO SE HACE EL EMPAJINADO-->
  </main>

  <%-include("../partials/footer")%>
 
</body>

</html>